body
	{
		background-color:grey;


	}

#container
	{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;

		
	}
	

#logo
	{
		border-radius: 10px;
		background-color: #d1d2df;
		text-align: center;
		height: 150px;
		width:79%;
		float:left;
		
	
			
	}
	#logowanie
	{
		
		background-color: #696969;
		color:#d1d2df;
		text-align: center;
		float:right;
		
		height: 150px;
		width:20%;
		
			display: block;
		text-decoration: none;
	}
	#loguj
	{
		background-color: #696969;
		color:#d1d2df;
		text-align: center;
		height:50%;
		
		display: block;
		text-decoration: none;
		
	}
	

#nav
	{
	float:left;
		float: left;
		width: 15%;
		height: 625px;
	    color: white;
	
		margin-top: 10px;
		min-width: 100px;
	
	}

#content
	{
		float: left;
		width: 85%;
		font-size: 15px;
		margin-top: 10px;
		


		
	}

#strona_glowna
	{
		float: bottom;
		margin: 3px;
		height: 50px;
		text-align: center;
		color: #d1d2df;
		background-color: #696969;
		display: block;
		text-decoration: none;
		
	}

	
#plan
	{
		float: bottom;
		margin: 3px;
		height: 50px;
		text-align: center;
		color: #d1d2df;
		background-color: #696969;
		display: block;
		text-decoration: none;
		
	}
	#terminarz
	{
		float: bottom;
		margin: 3px;
		height: 50px;
		text-align: center;
		color: #696969;
		background-color: #d1d2df;
		display: block;
		text-decoration: none;
	}

#oceny
	{
		float: bottom;
		margin: 2px;
		height: 50px;
		color: #696969;
		text-align: center;
		background-color: #d1d2df;
		display: block;	
		text-decoration: none;
	}

#nieobecnosci
	{
		float: bottom;
		display: block;
		height: 50px;
		text-align: center;
		color: #d1d2df;
		background-color: #696969;
		margin: 3px;
		text-decoration: none;
	}

#kontakt
	{
		float: bottom;
		height: 400px;
		text-align: center;
		color: #696969;
		font-size: 16px;
		background-color: #d1d2df;
		margin: 3px;
		display: block;
		text-decoration: none;
	}
	
	
	#szycie_na_miare
	{
		margin-left: 5%;
		margin-right: 5px;
		float: left;
		width: 30%;
		font-size: 18px;
		height: 60%;
		background-color: rgba( 209, 210, 223, 0.8);
		
	}

#przerobki_krawieckie
	{

		float: left;
		width: 29%;
		height: 500px;
		font-size: 18px;
		height: 60%;
		background-color: rgba( 209, 210, 223, 0.8);
		
	}

#dodatki_slubne
	{
		margin-left: 5px;
		float:left;
		width: 30%;
		height: 60%;
		font-size: 18px;
		background-color: rgba(  209, 210, 223, 0.8);
		
	}
	
#a
	{
	clear:both;
	background-color: rgba(  209, 210, 223, 0.8);
	margin-top: 35%;
	margin-left: 5%;
	margin-right: 5% ;
	text-align: center;
	padding: 5%;
	font-size: 40px;

	}	
	
	#footer
	{	
		margin: 3px;
		margin-top: 10px;
		clear: both;
		height:50px;
		background-color: #d1d2df;
		border-radius: 10px;
		text-align: center;
		padding-top: 10px;
		min-width: 750px;
	}

span.featherlight-previous {
    position: absolute;
    top: 50%;
    font-size: 40px;
    left: 0;
    cursor: pointer;
}

	
span.featherlight-next {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 40px;
    cursor: pointer;
}
.featherlight .featherlight-content {
	padding: 0 !important;
	border-bottom: 0 !important;
}
div.galleryDiv {
    margin: 5px;
    float: left;
    width: 100%;
    overflow: auto;
    height: 610px;
}

div.galleryDiv a img {
    width: 180px;
    height: auto;
    float: left;
}
div.galleryDiv a {
    width: 180px;
    height: 180px;
    float: left;
    margin: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}



